In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("data/Cyclone_ML.csv")
data

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,CENTRAL_INDEX (CI),WAVE_HEIGHT
0,Althea,1971-12-23 23:00:00,T,4.0,3.0,40.0,-19.00,146.40,952.0,46.3,120.0,SE,5.051994,11.079868
1,Annie,1973-11-22 06:00:00,T,2.0,1.0,20.0,-11.00,92.60,1001.0,12.9,100.0,E,2.064005,3.337484
2,Annie,1973-11-22 12:00:00,T,2.0,1.0,20.0,-11.10,93.10,1002.0,12.9,110.0,E,1.950454,3.093691
3,Annie,1973-11-23 00:01:00,T,2.0,1.0,20.0,-11.10,94.20,1003.0,12.9,160.0,S,1.829259,2.838769
4,Annie,1973-11-23 06:00:00,T,2.0,1.0,20.0,-11.10,94.60,1000.0,12.9,210.0,SW,2.171169,3.571799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687,George,2007-03-04 18:00:00,T,3.0,2.0,30.0,-14.30,126.40,986.0,20.6,270.0,W,3.306407,6.276868
1688,Carlos,2011-02-15 12:00:00,T,3.0,4.0,21.0,-12.73,130.61,999.0,20.6,350.0,N,2.272897,3.797903
1689,Carlos,2011-02-15 21:00:00,T,3.0,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW,2.801605,5.026852
1690,Carlos,2011-02-16 00:00:00,T,3.0,2.0,30.0,-12.41,130.99,995.0,18.0,210.0,SW,2.638106,4.637562
1691,Carlos,2011-02-16 09:00:00,T,3.0,2.0,30.0,-12.54,130.98,994.0,20.6,220.0,SW,2.721184,4.834374

In [7]:
#add Cyclone Index (CI) and Average wind speed
data["V60"] = 3.45*(1010 - (data.CENTRAL_PRES))**0.644
data["CENTRAL_INDEX (CI)"] = (0.186*data.V60)**0.746
data

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,CENTRAL_INDEX (CI),WAVE_HEIGHT,V60
0,Althea,1971-12-23 23:00:00,T,4.0,3.0,40.0,-19.00,146.40,952.0,46.3,120.0,SE,5.051994,11.079868,47.148374
1,Annie,1973-11-22 06:00:00,T,2.0,1.0,20.0,-11.00,92.60,1001.0,12.9,100.0,E,2.064005,3.337484,14.202058
2,Annie,1973-11-22 12:00:00,T,2.0,1.0,20.0,-11.10,93.10,1002.0,12.9,110.0,E,1.950454,3.093691,13.164642
3,Annie,1973-11-23 00:01:00,T,2.0,1.0,20.0,-11.10,94.20,1003.0,12.9,160.0,S,1.829259,2.838769,12.079869
4,Annie,1973-11-23 06:00:00,T,2.0,1.0,20.0,-11.10,94.60,1000.0,12.9,210.0,SW,2.171169,3.571799,15.199143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687,George,2007-03-04 18:00:00,T,3.0,2.0,30.0,-14.30,126.40,986.0,20.6,270.0,W,3.306407,6.276868,26.710077
1688,Carlos,2011-02-15 12:00:00,T,3.0,4.0,21.0,-12.73,130.61,999.0,20.6,350.0,N,2.272897,3.797903,16.161289
1689,Carlos,2011-02-15 21:00:00,T,3.0,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW,2.801605,5.026852,21.390858
1690,Carlos,2011-02-16 00:00:00,T,3.0,2.0,30.0,-12.41,130.99,995.0,18.0,210.0,SW,2.638106,4.637562,19.734306
1691,Carlos,2011-02-16 09:00:00,T,3.0,2.0,30.0,-12.54,130.98,994.0,20.6,220.0,SW,2.721184,4.834374,20.571803

In [10]:
data_df = data[['DATA_SRC', 'SURFACE_CODE', 'CYC_TYPE', 'LAT',
       'LON', 'CENTRAL_PRES', 'MAX_WIND_SPD', 'MAX_REP_WIND_DIR',
       'WIND_COMPASS', 'V60', 'CENTRAL_INDEX (CI)']]
data_df

,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,V60,CENTRAL_INDEX (CI)
0,4.0,3.0,40.0,-19.00,146.40,952.0,46.3,120.0,SE,47.148374,5.051994
1,2.0,1.0,20.0,-11.00,92.60,1001.0,12.9,100.0,E,14.202058,2.064005
2,2.0,1.0,20.0,-11.10,93.10,1002.0,12.9,110.0,E,13.164642,1.950454
3,2.0,1.0,20.0,-11.10,94.20,1003.0,12.9,160.0,S,12.079869,1.829259
4,2.0,1.0,20.0,-11.10,94.60,1000.0,12.9,210.0,SW,15.199143,2.171169
...,...,...,...,...,...,...,...,...,...,...,...
1687,3.0,2.0,30.0,-14.30,126.40,986.0,20.6,270.0,W,26.710077,3.306407
1688,3.0,4.0,21.0,-12.73,130.61,999.0,20.6,350.0,N,16.161289,2.272897
1689,3.0,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW,21.390858,2.801605
1690,3.0,2.0,30.0,-12.41,130.99,995.0,18.0,210.0,SW,19.734306,2.638106
1691,3.0,2.0,30.0,-12.54,130.98,994.0,20.6,220.0,SW,20.571803,2.721184

In [11]:
#export the data to csv
data_df.to_csv("data/data_ml_calc.csv")