In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
import joblib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
# Read data into DataFrame from CSV file
# cyclone_df = pd.read_csv("Cyclone_ML.csv")
cyclone_df = pd.read_csv("data/Cyclone_ML.csv")

# Select features for machine learning and assign to X
selected_features = cyclone_df[["SURFACE_CODE",	"CYC_TYPE", "LAT", "LON", "CENTRAL_PRES", "MAX_WIND_SPD"]]
X = selected_features

# Set y to compass direction of cyclone based on wind direction degree
# y = cyclone_df["MAX_REP_WIND_DIR"]
y = cyclone_df["CENTRAL_INDEX (CI)"].values.reshape(-1,1)

print(X.shape, y.shape)

(1692, 6) (1692, 1)

In [18]:
X

      SURFACE_CODE  CYC_TYPE    LAT     LON  CENTRAL_PRES  MAX_WIND_SPD
0              3.0      40.0 -19.00  146.40         952.0          46.3
1              1.0      20.0 -11.00   92.60        1001.0          12.9
2              1.0      20.0 -11.10   93.10        1002.0          12.9
3              1.0      20.0 -11.10   94.20        1003.0          12.9
4              1.0      20.0 -11.10   94.60        1000.0          12.9
...            ...       ...    ...     ...           ...           ...
1687           2.0      30.0 -14.30  126.40         986.0          20.6
1688           4.0      21.0 -12.73  130.61         999.0          20.6
1689           2.0      30.0 -12.54  130.72         993.0          18.0
1690           2.0      30.0 -12.41  130.99         995.0          18.0
1691           2.0      30.0 -12.54  130.98         994.0          20.6

[1692 rows x 6 columns]

In [19]:
y

array([[5.05199407],
       [2.06400481],
       [1.95045442],
       ...,
       [2.80160494],
       [2.63810555],
       [2.72118357]])

In [20]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)