In [1]:
import pandas as pd
import json

In [2]:
data = pd.read_csv("data/Cyclone_ML.csv")
data

,NAME,TM,TYPE,DATA_SRC,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,CENTRAL_INDEX (CI),WAVE_HEIGHT
0,Althea,1971-12-23 23:00:00,T,4.0,3.0,40.0,-19.00,146.40,952.0,46.3,120.0,SE,5.051994,11.079868
1,Annie,1973-11-22 06:00:00,T,2.0,1.0,20.0,-11.00,92.60,1001.0,12.9,100.0,E,2.064005,3.337484
2,Annie,1973-11-22 12:00:00,T,2.0,1.0,20.0,-11.10,93.10,1002.0,12.9,110.0,E,1.950454,3.093691
3,Annie,1973-11-23 00:01:00,T,2.0,1.0,20.0,-11.10,94.20,1003.0,12.9,160.0,S,1.829259,2.838769
4,Annie,1973-11-23 06:00:00,T,2.0,1.0,20.0,-11.10,94.60,1000.0,12.9,210.0,SW,2.171169,3.571799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687,George,2007-03-04 18:00:00,T,3.0,2.0,30.0,-14.30,126.40,986.0,20.6,270.0,W,3.306407,6.276868
1688,Carlos,2011-02-15 12:00:00,T,3.0,4.0,21.0,-12.73,130.61,999.0,20.6,350.0,N,2.272897,3.797903
1689,Carlos,2011-02-15 21:00:00,T,3.0,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW,2.801605,5.026852
1690,Carlos,2011-02-16 00:00:00,T,3.0,2.0,30.0,-12.41,130.99,995.0,18.0,210.0,SW,2.638106,4.637562
1691,Carlos,2011-02-16 09:00:00,T,3.0,2.0,30.0,-12.54,130.98,994.0,20.6,220.0,SW,2.721184,4.834374

In [3]:
data.columns

Index(['NAME', 'TM', 'TYPE', 'DATA_SRC', 'SURFACE_CODE', 'CYC_TYPE', 'LAT',
       'LON', 'CENTRAL_PRES', 'MAX_WIND_SPD', 'MAX_REP_WIND_DIR',
       'WIND_COMPASS', 'CENTRAL_INDEX (CI)', 'WAVE_HEIGHT'],
      dtype='object')

In [4]:
data = data[['NAME', 'TM', 'SURFACE_CODE', 'CYC_TYPE', 'LAT',
       'LON', 'CENTRAL_PRES', 'MAX_WIND_SPD', 'MAX_REP_WIND_DIR',
       'WIND_COMPASS', 'CENTRAL_INDEX (CI)']]
data

,NAME,TM,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,CENTRAL_INDEX (CI)
0,Althea,1971-12-23 23:00:00,3.0,40.0,-19.00,146.40,952.0,46.3,120.0,SE,5.051994
1,Annie,1973-11-22 06:00:00,1.0,20.0,-11.00,92.60,1001.0,12.9,100.0,E,2.064005
2,Annie,1973-11-22 12:00:00,1.0,20.0,-11.10,93.10,1002.0,12.9,110.0,E,1.950454
3,Annie,1973-11-23 00:01:00,1.0,20.0,-11.10,94.20,1003.0,12.9,160.0,S,1.829259
4,Annie,1973-11-23 06:00:00,1.0,20.0,-11.10,94.60,1000.0,12.9,210.0,SW,2.171169
...,...,...,...,...,...,...,...,...,...,...,...
1687,George,2007-03-04 18:00:00,2.0,30.0,-14.30,126.40,986.0,20.6,270.0,W,3.306407
1688,Carlos,2011-02-15 12:00:00,4.0,21.0,-12.73,130.61,999.0,20.6,350.0,N,2.272897
1689,Carlos,2011-02-15 21:00:00,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW,2.801605
1690,Carlos,2011-02-16 00:00:00,2.0,30.0,-12.41,130.99,995.0,18.0,210.0,SW,2.638106
1691,Carlos,2011-02-16 09:00:00,2.0,30.0,-12.54,130.98,994.0,20.6,220.0,SW,2.721184

In [5]:
#loop through each row and remove rows greater than min value
for i, row in data.iterrows():
    data = data.loc[~((data['NAME'] == row[0]) & (data['CENTRAL_PRES'] > row[6])),:]

In [6]:
#display df
data

,NAME,TM,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,CENTRAL_INDEX (CI)
0,Althea,1971-12-23 23:00:00,3.0,40.0,-19.00,146.40,952.0,46.3,120.0,SE,5.051994
26,Annie,1973-11-30 00:01:00,1.0,30.0,-15.30,102.50,981.0,28.3,340.0,N,3.621102
27,Annie,1973-11-30 06:00:00,1.0,30.0,-15.60,102.90,981.0,28.3,230.0,SW,3.621102
43,Beryl,1973-12-01 01:00:00,1.0,40.0,-13.20,116.60,973.0,36.0,20.0,N,4.070722
44,Beryl,1973-12-01 07:00:00,1.0,40.0,-13.80,116.00,973.0,36.0,10.0,N,4.070722
...,...,...,...,...,...,...,...,...,...,...,...
1680,Emma,2006-03-01 00:00:00,2.0,70.0,-28.90,119.00,990.0,15.4,40.0,NE,3.029115
1681,Glenda,2006-03-29 18:00:00,1.0,40.0,-18.80,116.70,924.0,51.4,60.0,NE,6.104487
1682,Larry,2006-03-19 18:00:00,1.0,40.0,-17.50,146.80,935.0,51.4,190.0,S,5.716025
1685,George,2007-03-04 00:00:00,1.0,30.0,-14.60,128.50,982.0,25.7,240.0,SW,3.560567
1689,Carlos,2011-02-15 21:00:00,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW,2.801605

In [7]:
#drop duplicates
data_df = data.drop_duplicates('NAME')
data_df

,NAME,TM,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,CENTRAL_INDEX (CI)
0,Althea,1971-12-23 23:00:00,3.0,40.0,-19.00,146.40,952.0,46.3,120.0,SE,5.051994
26,Annie,1973-11-30 00:01:00,1.0,30.0,-15.30,102.50,981.0,28.3,340.0,N,3.621102
43,Beryl,1973-12-01 01:00:00,1.0,40.0,-13.20,116.60,973.0,36.0,20.0,N,4.070722
75,Cecily,1973-12-15 00:01:00,1.0,40.0,-17.70,94.70,973.0,36.0,10.0,N,4.070722
95,Deidre,1973-12-23 12:00:00,1.0,30.0,-12.80,90.50,981.0,28.3,60.0,NE,3.621102
...,...,...,...,...,...,...,...,...,...,...,...
1675,Emma,2006-02-27 18:00:00,1.0,30.0,-19.40,115.50,990.0,20.6,130.0,SE,3.029115
1681,Glenda,2006-03-29 18:00:00,1.0,40.0,-18.80,116.70,924.0,51.4,60.0,NE,6.104487
1682,Larry,2006-03-19 18:00:00,1.0,40.0,-17.50,146.80,935.0,51.4,190.0,S,5.716025
1685,George,2007-03-04 00:00:00,1.0,30.0,-14.60,128.50,982.0,25.7,240.0,SW,3.560567
1689,Carlos,2011-02-15 21:00:00,2.0,30.0,-12.54,130.72,993.0,18.0,210.0,SW,2.801605

In [8]:
#sort values
data_df = data_df.sort_values('CENTRAL_PRES', ascending=True)
data_new = data_df.head(10)
data_new

,NAME,TM,SURFACE_CODE,CYC_TYPE,LAT,LON,CENTRAL_PRES,MAX_WIND_SPD,MAX_REP_WIND_DIR,WIND_COMPASS,CENTRAL_INDEX (CI)
1196,Orson,1989-04-22 03:00:00,1.0,40.0,-16.8,116.1,905.0,66.9,120.0,SE,6.718890
500,Joan,1975-12-07 01:00:00,1.0,40.0,-17.6,117.9,915.0,59.2,310.0,NW,6.403473
1335,Theodore,1994-02-25 12:00:00,1.0,40.0,-14.2,157.3,915.0,56.6,280.0,W,6.403473
1547,John,1999-12-14 04:00:00,1.0,40.0,-18.5,117.5,915.0,56.6,100.0,E,6.403473
1377,Chloe,1995-04-07 06:00:00,1.0,40.0,-14.6,123.3,920.0,61.7,0.0,N,6.239283
1315,Rewa,1994-01-02 12:00:00,1.0,40.0,-16.9,153.9,920.0,56.6,70.0,E,6.239283
1530,Vance,1999-03-21 18:00:00,1.0,40.0,-20.0,114.5,920.0,56.6,125.0,SE,6.239283
1667,Ingrid,2005-03-11 18:00:00,1.0,40.0,-11.9,136.8,924.0,64.3,120.0,SE,6.104487
1681,Glenda,2006-03-29 18:00:00,1.0,40.0,-18.8,116.7,924.0,51.4,60.0,NE,6.104487
1446,Olivia,1996-04-09 22:00:00,1.0,40.0,-18.1,114.8,925.0,54.0,80.0,E,6.070282

In [9]:
# export to html table
table = data_new.to_html("table.html", index=False, border=0, justify="justify", classes="table table-striped")

In [11]:
#remove spaces from the name column
data_new["NAME"]=data_new["NAME"].apply(lambda x: x.strip())

#converting the table to json format
cyclone_json = data_new.to_json(orient="records")
cyclone_json_parsed = json.loads(cyclone_json)
cyclone_json_top = json.dumps(cyclone_json_parsed,indent=4)

cyclone_json_top

C:\Users\Lites\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'[\n    {\n        "NAME": "Orson",\n        "TM": "1989-04-22 03:00:00",\n        "SURFACE_CODE": 1.0,\n        "CYC_TYPE": 40.0,\n        "LAT": -16.8,\n        "LON": 116.1,\n        "CENTRAL_PRES": 905.0,\n        "MAX_WIND_SPD": 66.9,\n        "MAX_REP_WIND_DIR": 120.0,\n        "WIND_COMPASS": "SE",\n        "CENTRAL_INDEX (CI)": 6.7188902807\n    },\n    {\n        "NAME": "Joan",\n        "TM": "1975-12-07 01:00:00",\n        "SURFACE_CODE": 1.0,\n        "CYC_TYPE": 40.0,\n        "LAT": -17.6,\n        "LON": 117.9,\n        "CENTRAL_PRES": 915.0,\n        "MAX_WIND_SPD": 59.2,\n        "MAX_REP_WIND_DIR": 310.0,\n        "WIND_COMPASS": "NW",\n        "CENTRAL_INDEX (CI)": 6.4034730587\n    },\n    {\n        "NAME": "Theodore",\n        "TM": "1994-02-25 12:00:00",\n        "SURFACE_CODE": 1.0,\n        "CYC_TYPE": 40.0,\n        "LAT": -14.2,\n        "LON": 157.3,\n        "CENTRAL_PRES": 915.0,\n        "MAX_WIND_SPD": 56.6,\n        "MAX_REP_WIND_DIR": 280.0,\n        "WIND_COMPASS": "W",\n        "CENTRAL_INDEX (CI)": 6.4034730587\n    },\n    {\n        "NAME": "John",\n        "TM": "1999-12-14 04:00:00",\n        "SURFACE_CODE": 1.0,\n        "CYC_TYPE": 40.0,\n        "LAT": -18.5,\n        "LON": 117.5,\n        "CENTRAL_PRES": 915.0,\n        "MAX_WIND_SPD": 56.6,\n        "MAX_REP_WIND_DIR": 100.0,\n        "WIND_COMPASS": "E",\n        "CENTRAL_INDEX (CI)": 6.4034730587\n    },\n    {\n        "NAME": "Chloe",\n        "TM": "1995-04-07 06:00:00",\n        "SURFACE_CODE": 1.0,\n        "CYC_TYPE": 40.0,\n        "LAT": -14.6,\n        "LON": 123.3,\n        "CENTRAL_PRES": 920.0,\n        "MAX_WIND_SPD": 61.7,\n        "MAX_REP_WIND_DIR": 0.0,\n        "WIND_COMPASS": "N",\n        "CENTRAL_INDEX (CI)": 6.2392832867\n    },\n    {\n        "NAME": "Rewa",\n        "TM": "1994-01-02 12:00:00",\n        "SURFACE_CODE": 1.0,\n        "CYC_TYPE": 40.0,\n        "LAT": -16.9,\n        "LON": 153.9,\n        "CENTRAL_PRES": 920.0,\n        "MAX_WIND_SPD": 56.6,\n        "MAX_REP_WIND_DIR": 70.0,\n        "WIND_COMPASS": "E",\n        "CENTRAL_INDEX (CI)": 6.2392832867\n    },\n    {\n        "NAME": "Vance",\n        "TM": "1999-03-21 18:00:00",\n        "SURFACE_CODE": 1.0,\n        "CYC_TYPE": 40.0,\n        "LAT": -20.0,\n        "LON": 114.5,\n        "CENTRAL_PRES": 920.0,\n        "MAX_WIND_SPD": 56.6,\n        "MAX_REP_WIND_DIR": 125.0,\n        "WIND_COMPASS": "SE",\n        "CENTRAL_INDEX (CI)": 6.2392832867\n    },\n    {\n        "NAME": "Ingrid",\n        "TM": "2005-03-11 18:00:00",\n        "SURFACE_CODE": 1.0,\n        "CYC_TYPE": 40.0,\n        "LAT": -11.9,\n        "LON": 136.8,\n        "CENTRAL_PRES": 924.0,\n        "MAX_WIND_SPD": 64.3,\n        "MAX_REP_WIND_DIR": 120.0,\n        "WIND_COMPASS": "SE",\n        "CENTRAL_INDEX (CI)": 6.1044871693\n    },\n    {\n        "NAME": "Glenda",\n        "TM": "2006-03-29 18:00:00",\n        "SURFACE_CODE": 1.0,\n        "CYC_TYPE": 40.0,\n        "LAT": -18.8,\n        "LON": 116.7,\n        "CENTRAL_PRES": 924.0,\n        "MAX_WIND_SPD": 51.4,\n        "MAX_REP_WIND_DIR": 60.0,\n        "WIND_COMPASS": "NE",\n        "CENTRAL_INDEX (CI)": 6.1044871693\n    },\n    {\n        "NAME": "Olivia",\n        "TM": "1996-04-09 22:00:00",\n        "SURFACE_CODE": 1.0,\n        "CYC_TYPE": 40.0,\n        "LAT": -18.1,\n        "LON": 114.8,\n        "CENTRAL_PRES": 925.0,\n        "MAX_WIND_SPD": 54.0,\n        "MAX_REP_WIND_DIR": 80.0,\n        "WIND_COMPASS": "E",\n        "CENTRAL_INDEX (CI)": 6.0702818913\n    }\n]'

In [12]:
data_json_file = open("cyclone_top10.json", "w")
data_json_file.write(cyclone_json_top)
data_json_file.close()